:root {
    --green : #007f61;
    --black : #222327;
    --just-white : #fff; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

/*************************ESTILOS HEADER*************************/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 600px;
    padding: 20px auto;
    background-color: var(--green);
}

.figure__main-logo{
    position: relative;
    width: 110px;
    fill: var(--just-white);
}

.header__text-container{
    width: 80%;
}

.header__text-container h1{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: var(--just-white);
}

.header__text-container h2{
    margin-bottom: 10px;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--just-white);
}

.header__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 550px;
    text-align: center;
}

.header__form-container--form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header__form-container--form input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}

.header__form-container--form button {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--just-white);
    background-color: var(--black);
    border-radius: 5px;
    border: none;
}

.header__form-container p{
    max-width: 450px;
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--just-white);
}

.header__wave{
    display: block;
    width: 100%;
    height: 90px;
    background-image: url('../assets/icons/wave.svg');
    background-size: cover;
    background-repeat: repeat-x ;
}

/*************************ESTILOS SECCIONCION FEATURES*************************/

.features{
    position: relative;
    width: 100%;
    height: 500px;
}

.features-img img{
    position: absolute;
    width: 90%;
    max-width: 280px;
    top: calc(0% - 200px);
    left: calc(50% - 140px);
}

.features-section{
    position: relative;
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features-section__card {
    display: inline-block;
    margin: 20px 0;
    width: 250px;
    max-width: 350px;
    min-width: 220px;
}


.features-section__card .features-section__card--icon{
    position: relative;
    margin-bottom: 15px;
    width: 50px;
    fill: var(--green);
}

.features-section__card h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--black);
}

.features-section__card p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
    color: gray;
}

/*************************ESTILOS SECCIONCION BRANDS*************************/
.brands{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.brands-imgs{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 420px;
    margin-bottom: 20px;
    padding: 30px 0;
    border-top: 1px solid rgb(206, 204, 204);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.brands-imgs img{
    display: inline-block;
    margin: 10px 0;
    max-width: 100px;
}

/*************************ESTILOS SECCIONCION TESTIMONIO*************************/

.testimonio__text-container {
    position: relative;
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
    text-align: center;
}

.testimonio__text-container--comment{
    font-size: 2rem;
    line-height: 2.8rem;
    color: var(--black);
}

.testimonio__text-container--name{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black);
}

.testimonio__text-container button{
    width: 130px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--just-white);
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: -4px 3px 30px -8px #BABABA; 
    box-shadow: -4px 3px 30px -8px #BABABA;
}


/*************************ESTILOS FOOTER *************************/

.footer__nav{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
}

.footer__nav--item {
    font-size: 1.5rem;
    color: var(--green);
    list-style: none;
    margin: 2px 0;
}
