.figure__main-logo{
    width: 120px;
}

.header__text-container h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.6rem;
}

.header__text-container h2{
    margin-bottom: 0px;
    font-size: 2.5rem;
}

.header__wave{
    height: 200px;
    background-size: cover;
}

.features{
    width: 100%;
}

.features-img img{
    max-width: 450px;
    top: calc(0% - 350px);
    left: calc(50% - 220px);
}


.features-section{
    margin-top: 130px;
    grid-template-columns: repeat(3, minmax(200px, 280px));
    column-gap: 20px;
    justify-content: center;
}


.brands-imgs{
    margin-top: -100px;
}

.testimonio__text-container--name{
    margin-bottom: 55px;
}

.footer__nav {
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__nav--item {
    margin: 0px 15px;
}